<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-lazy-init="true">

    <!-- 声明使用注解式事务 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--事务模板 -->
    <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="transactionManager"/>
        <!--ISOLATION_DEFAULT 表示由使用的数据库决定  -->
        <property name="isolationLevelName" value="ISOLATION_DEFAULT"/>
        <property name="propagationBehaviorName" value="PROPAGATION_REQUIRED"/>
        <!-- <property name="timeout" value="30"/> -->
    </bean>

    <!-- 配置SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:spring/mybatis.xml"/>
        <property name="mapperLocations">
            <list>
                <value>classpath:mapper/*Mapper.xml</value>
            </list>
        </property>
    </bean>

    <!-- 自动扫描和注册Mapper接口  -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.microgoople.demo.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!--数据源配置 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="jdbcUrl" value="${microgoople.db.write.url}"/>
        <property name="driverClass" value="${microgoople.db.driver}"/>
        <property name="user" value="${microgoople.db.write.username}"/>
        <property name="password" value="${microgoople.db.write.password}"/>
        <property name="initialPoolSize" value="${microgoople.db.initialPoolSize}"/>
        <property name="minPoolSize" value="${microgoople.db.minPoolSize}"/>
        <property name="maxPoolSize" value="${microgoople.db.maxPoolSize}"/>
        <property name="acquireIncrement" value="${microgoople.db.acquireIncrement}"/>
        <property name="maxIdleTime" value="${microgoople.db.maxIdleTime}"/>
        <property name="maxStatements" value="${microgoople.db.maxStatements}"/>
        <property name="idleConnectionTestPeriod" value="${microgoople.db.idleConnectionTestPeriod}"/>
        <!-- 用于检测连接是否可用的查询语句 -->
        <property name="preferredTestQuery" value="${microgoople.db.connectionTestQuery}"></property>
    </bean>
</beans>